[package]
name = "kbs2"
description = "A secret manager backed by age"
license = "MIT"
homepage = "https://github.com/woodruffw/kbs2"
version = "0.0.3"
authors = ["William Woodruff <william@yossarian.net>"]
edition = "2018"

[package.metadata.release]
no-dev-version = true

[dependencies]
age = "0.4"
atty = "0.2.14"
dialoguer = "0.6.2"
dirs = "2.0.2"
clap = "3.0.0-beta.1"
clap_generate = "3.0.0-beta.1"
clipboard = "0.5.0"
env_logger = "0.7"
Inflector = "0.11.4"
log = "0.4"
nix = "0.17.0"
secrecy = "0.6.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
shellexpand = "2.0.0"
toml = "0.5.6"
