[package]
name = "kbs2"
description = "A secret manager backed by age"
license = "MIT"
homepage = "https://github.com/woodruffw/kbs2"
repository = "https://github.com/woodruffw/kbs2"
version = "0.1.6"
authors = ["William Woodruff <william@yossarian.net>"]
edition = "2018"
readme = "README.md"
keywords = ["cli", "password-manager", "crypto"]
categories = ["command-line-utilities", "cryptography"]

[package.metadata.release]
no-dev-version = true
disable-publish = true # handled by GitHub Actions

[package.metadata.deb]
depends = "$auto, libxcb-shape0-dev, libxcb-xfixes0-dev"

[badges]
maintenance = { status = "actively-developed" }

[dependencies]
age = "0.4"
anyhow = "1.0"
atty = "0.2.14"
dialoguer = "0.7.1"
clap = "3.0.0-beta.2"
clap_generate = "3.0.0-beta.2"
clipboard = "0.5.0"
env_logger = "0.8"
home = "0.5"
log = "0.4"
memmap = "0.7"
nix = "0.19.0"
pinentry = "0.1"
rand = "0.7"
rpassword = "5.0"
secrecy = "0.6.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha2 = "0.9"
shellexpand = "2.0.0"
shell-words = "1.0.0"
tempfile = "3"
toml = "0.5.7"
whoami = "0.9"
