on:
  push:
    tags:
      - 'v*'

name: release

jobs:
  crate:
    name: upload release to crates.io
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: deps
      run: |
        sudo apt install -y libxcb-shape0-dev libxcb-xfixes0-dev

    - name: login
      run: echo ${{ secrets.CRATES_IO_TOKEN }} | cargo login

    - name: create release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: ${{ contains(github.ref, 'pre') || contains(github.ref, 'rc') }}

    - name: publish
      run: cargo publish
